h1 {
  text-align: center;
  color: White;
  font-family: Verdana;
  font-weight: bold normal;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: White;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

h3 {
  color: White;
  text-align: center;
  font-family: Verdana;
  font-size: 21px;
}

h4 {
  color: Gray;
  text-align: right;
  font-size: 21px;
  font-family: Verdana;

}

p {
  color: Aquamarine;
  text-align: center;
  font-family: Verdana;
}

body {
  background-color: Black;
}
